@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: black;
    text-decoration: none;
}

header{
    padding: 15px 0;
} 

header .container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.menu{
    display: none;
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

main .container{
    gap: 50px;
    padding: 150px 0;
}

.descripcion{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: end;
}

.descripcion h2{
    font-size: 4em;
    line-height: 1em;
}

.descripcion p{
    text-indent: 30%;
}

.btn{
    background-color: #8B48BF;
    color: white;
    padding: 0.5em 2em;
    border-radius: 100px;
    align-self: flex-end;
}

    /*Estilos para la seccion 1*/

    .seccion_1{
        background-color: #8B48BF;
        padding: 30px 0;
    }

    .seccion_1 h3{
        color: white;
        font-size: 2em;
        line-height: 1.2em;
        width: 110%;
    }

    .seccion_1 p{
        color: white;
        width: 110%;

    }

    .seccion_1 .container{
        gap: 50px
    }

    /* Estilos para las cards */

    .seccion_cards{
        background-color: #FAFAFA;
        padding: 100px 0;
    }

    .seccion_cards .container{
        flex-flow: row wrap;
        justify-content: center;
        gap: 50px;
    }

    .card{
        width: 500px;
    }

    .card_header{
        display: flex;
        align-items: center;
    }

    .card_header span{
        background-color: #8B48BF;
        width: 50px;
        padding: 5px;
        text-align: center;
        border-radius: 100px;
        color: white;
        width: 65px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card h3{
        margin-left: 30px;
    }

    .card p{
        margin-left: 80px;
    }

    /* Formato Cards Avatars */

    .subtitle{
        height: 100px;
        text-align: center;
    }

    .subtitle h2{
        font-size: 2em;
    }

    .seccion_2{
        padding: 100px 0;
    }
    
    .seccion_2 .container{
        background-color: #FAFAFA;
        margin-top: 100px;
        gap: 100px
    }

    .seccion_2 .button{
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .seccion_2 .button a{
        font-size: 13px;
        padding: 1em 2em;
    }
    
    .card_avatar, #card_avatar{
        width: 500px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    
    .card_avatar img, #card_avatar img{
        width: 100px;
        height: 100px;
        position: relative;
        top: -50px;
        left: calc(50% - 50px);
    }
    
    .card_avatar h3, #card_avatar h3{
        margin-top: -30px;
        margin-bottom: 20px;
    }
    
    .card_avatar p, #card_avatar p{
        font-weight: bold;
        color: #B3B2B7;
    }
    
    .img img{
        width: 100%;
    }

    .btn_2{
        background-color: white;
        color: #8B48BF;
        padding: 0.1em 1.7em;
        gap: 1em;
        border-radius: 50px;
    }

    .seccion_3{
        background-color: #8B48BF;
        padding: 70px;
    }
    
    .seccion_3 h3{
        color: white;
        font-size: 2em;
        line-height: 1.2em;
        width: 110%;
    }
    
    .seccion_3 p{
        color: white;
        width: 110%;
    
    }
    
    .seccion_3 .container{
        gap: 50px
    }

    /* Estilos para el footer */

    footer{
        background-color: #1E1E26;
        padding: 100px;
    }

    footer .container{
        display: flex;
        justify-content: space-between;
    }

    footer .social{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer li{
        color: white;
    }

    footer nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 500px;
    }

    footer ul{
        flex-direction: column;
    }

    input{
        padding: 10px 15px;
        border: none;
        border-radius: 100px;
        outline: none;
        font-weight: bold;
    }

    .submit{
        background-color: #8B48BF;
        color: white;
    }

    .copyright p{
        width: 100%;
        color: gray;
        text-align: right;
    }

    /* Aqui manejamos todo el estilo responsive para celular */
    
@media (max-width: 600px) {   

    /* Estilos para el header */
    header{
        padding: 15px 0;
    } 

    header .container{
        max-width: 300px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menu{
        display: block;
    }

    .container{
        max-width: 300px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    nav{
        display: none;
    }

    header .btn{
        display: none;
    }

    /*Estilos para main y la descripcion*/

    main .container{
        padding: 35px 0;
        gap: 50px;
        text-align: end;
    }

    .descripcion{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .descripcion h2{
        font-size: 2em;
        line-height: 1em;
    }

    .descripcion p{
        font-size: 0.8em;
        text-indent: 0%;
        padding: 0 0 1em 0;
    }

    /*Estilos para la seccion 1*/

    .seccion_1{
        background-color: #3CDDF3;
        padding: 30px 0;
    }

    .seccion_1 h3{
        color: white;
        font-size: 2em;
        line-height: 1.2em;
    }

    .seccion_1 p{
        color: white;
    }

    .seccion_1 .container{
        gap: 50px
    }

    /* Formato Cards */

    .card_header{
        background-color: #8B48BF4D;
        height: 40px;
        border-radius: 100px 0 0 100px;
    }

    .card_header span{
        width: 65px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .seccion_cards .container{
        max-width: 100%;
        margin-left: 10%;
    }

    .card p{
        margin-top: 10%;
        margin-left: 0;
        font-weight: bold;
        color: #B3B2B7;

    }

    .card_avatar{
        display: none;
    }

    #card_avatar{
        width: 300px;
    }

    /*Estilos para la seccion 1*/

    .seccion_3{
        background-color: #3CDDF3;
        padding: 30px 0;
    }

    .seccion_3 h3{
        color: white;
        text-align: center;
        font-size: 2em;
        line-height: 1.2em;
    }

    .seccion_3 .container{
        display: flex;
        align-items: center;
        gap: 50px
    }

    .btn_2{
        width: 100px;
        display: flex;
        text-align: center;
        background-color: #232C50;
        color: white;
    }


    /* Footer */

    footer{
        padding: 108px 0;
    }

    footer .container{
        flex-direction: column-reverse;
        gap: 50px;
    }

    footer nav{
        display: flex;
        justify-content: space-between;
    }

    footer nav ul{
        flex-direction: column;
    }

    input{
        outline: none;
        border: none;
    }

    form{
        display: flex;
    }

    footer .social{
        align-items: center;
        flex-direction: column-reverse;
        gap: 50px;
    }

    footer .redes{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    footer .redes a{
        width: 20px;
    }

    .copyright{
        padding: 50px 0 0 0;
    }
}